<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/root.css" />
    <link rel="stylesheet" href="../assets/css/books.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="book-grid">
      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="book-shower">
        <div class="book-card">
          <a href="#">
            <img
              src="../assets/images/book_images/IMG-20250901-WA0022.jpg"
              alt=""
              class="book-image" />
            <div class="book-info">
              <h3 class="book-name">ABC done</h3>
              <div class="book-description">
                <p class="price">LKR 2500</p>
                <span class="rating">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#daa520">
                    <path
                      d="m384-334 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Zm247-369Z" />
                  </svg>
                  <p>4.2</p>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
