.new_arrivals_main {
    min-height: 100vh;
    margin-bottom: 30px;
}

.new_arrivals_top {
    padding: 25px 30px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
}

.new_arrivals_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.new_books {
    width: 350px;
    height: 680px;
    background-color: #ffffff;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.new_books:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.new_books_container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.new_books_inside {
    padding-left: 10px;
}

.new_books_inside h2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.new_books_inside h4 {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 5px;
    color: #f4c150;
    font-size: 16px;
}

.new_books h3 {
    font-size: 18px;
    margin: 10px 0px;
}

.new_arrivals_bottom {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px 10px 10px;
}

.new_arrivals_top button {
    background-color: #007bff;
    color: var(--color-text-secondary);
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out;
}

.new_arrivals_top a {
    color: var(--color-text-secondary);
}

.new_arrivals_top button:hover {
    background-color: #0056b3;
}

.new_books button {
    background-color: #007bff;
    color: var(--color-text-secondary);
    border: none;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
}

.new_books button:hover {
    background-color: #0056b3;
}