@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #2c647a;
  --color-background: #eef7ff;
  --color-surface: #cde8e5;
  --color-secondary: #7ab2b2;
  --color-accent: #ff7f50;
  --color-text-primary: #121212;
  --color-text-secondary: #eef7ff;
  --color-border: #6fb5d1;
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
